In [1]:
import pandas as pd
import numpy as np
import datetime
from mlxtend.frequent_patterns import apriori, association_rules

In [22]:
import os
os.chdir("C:\\Users\\Nitin\\Desktop\\Capilary\\train")
df=pd.read_csv("train.csv")
df.head()

   UserId  productid  Quantity OrderDate
0   18075   12322648         1  01/04/18
1    6820   12371370         1  01/04/18
2    6820   12973004         1  01/04/18
3    6820   12657560         1  01/04/18
4    6820   11659914         1  01/04/18

#### As it is online transaction data, we wolud like to count a person making a transaction within the same month as a single transaction. This would ensure our matrix is not too sparse to carry out association rule mining.

In [23]:

df['OrderDate']=pd.to_datetime(df.OrderDate, format='%d/%m/%y')

In [24]:
df['month']=pd.DatetimeIndex(df['OrderDate']).month

In [25]:
df.head()

   UserId  productid  Quantity  OrderDate  month
0   18075   12322648         1 2018-04-01      4
1    6820   12371370         1 2018-04-01      4
2    6820   12973004         1 2018-04-01      4
3    6820   12657560         1 2018-04-01      4
4    6820   11659914         1 2018-04-01      4

In [26]:
#df['Transaction']=df[['UserId','month']].apply(lambda x: ''.join(x.astype(str)), axis=1)

In [27]:
df.head()

   UserId  productid  Quantity  OrderDate  month
0   18075   12322648         1 2018-04-01      4
1    6820   12371370         1 2018-04-01      4
2    6820   12973004         1 2018-04-01      4
3    6820   12657560         1 2018-04-01      4
4    6820   11659914         1 2018-04-01      4

In [28]:
df=df.drop(['OrderDate','month'],axis=1)

In [29]:
df.head()

   UserId  productid  Quantity
0   18075   12322648         1
1    6820   12371370         1
2    6820   12973004         1
3    6820   12657560         1
4    6820   11659914         1

In [30]:
df.head()

   UserId  productid  Quantity
0   18075   12322648         1
1    6820   12371370         1
2    6820   12973004         1
3    6820   12657560         1
4    6820   11659914         1

In [31]:
df['UserId']=df['UserId'].astype(str)

In [32]:
df1=pd.pivot_table(df,index=['UserId'], columns='productid', aggfunc=sum, fill_value=0)

In [33]:
df1.columns = ['_'.join((x[0], str(x[1]))) for x in df1.columns]
#df1 = df1.reset_index().rename_axis(None, axis=1)

In [34]:
df1.head()

,Quantity_11139192,Quantity_11139194,Quantity_11139524,Quantity_11139560,Quantity_11139588,Quantity_11139650,Quantity_11141306,Quantity_11141308,Quantity_11141318,Quantity_11141320,...,Quantity_14122758,Quantity_14122762,Quantity_14122766,Quantity_14122818,Quantity_14122820,Quantity_14122822,Quantity_14122832,Quantity_14122834,Quantity_14128359,Quantity_14129477
UserId,,,,,,,,,,,,,,,,,,,,,
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
100,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [35]:
user_id=df1.index

In [36]:
df1.head()

,Quantity_11139192,Quantity_11139194,Quantity_11139524,Quantity_11139560,Quantity_11139588,Quantity_11139650,Quantity_11141306,Quantity_11141308,Quantity_11141318,Quantity_11141320,...,Quantity_14122758,Quantity_14122762,Quantity_14122766,Quantity_14122818,Quantity_14122820,Quantity_14122822,Quantity_14122832,Quantity_14122834,Quantity_14128359,Quantity_14129477
UserId,,,,,,,,,,,,,,,,,,,,,
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
100,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [37]:
df1=df1.apply(lambda x: [1 if y >= 1 else 0 for y in x])

In [38]:
df1.head(5)

,Quantity_11139192,Quantity_11139194,Quantity_11139524,Quantity_11139560,Quantity_11139588,Quantity_11139650,Quantity_11141306,Quantity_11141308,Quantity_11141318,Quantity_11141320,...,Quantity_14122758,Quantity_14122762,Quantity_14122766,Quantity_14122818,Quantity_14122820,Quantity_14122822,Quantity_14122832,Quantity_14122834,Quantity_14128359,Quantity_14129477
UserId,,,,,,,,,,,,,,,,,,,,,
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
100,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [39]:
sum(df1.Quantity_11139192)

15

### Jaccard's Distance between Users : User- User Similarity meaure  J(A,B)=(A intesection B) / (A union B)

In [40]:
df2=np.array(np.matrix(df1))

In [41]:
jaccard=[]
for i in range(len(df2)):
    for j in range(len(df2)):
        intsec=np.dot(df2[i],df2[j])
        union=np.logical_or(df2[i],df2[j])
        jacc=intsec/union
        jaccard.append(jacc)

C:\Users\Nitin\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: RuntimeWarning: divide by zero encountered in true_divide

C:\Users\Nitin\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: RuntimeWarning: invalid value encountered in true_divide

MemoryError:

In [143]:
x=np.array([0,1,1,1,1])
y=np.array([0,0,1,0,1])
sum(np.logical_or(x,y))
np.dot(x,y)

2

In [86]:
df3=list(np.array(df2))

In [90]:
len(df3[1])

3026

In [74]:
df3=np.array(df2)

In [83]:
sum(df3[310])

2

In [72]:
df2[0]

matrix([[0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [70]:
np.sum(np.array(df2[:,0]))

15

In [67]:
# Get the most frequent itemsets. Here we are considering the itemsets as frequent if it crosses
# the minimum threshold support
freq_itemset = apriori(df=df1, min_support=0.00001,max_len=2 ,use_colnames=True)

In [68]:
#Question 1.) Which Item category was most frequent?
freq_itemset.sort_values(by=['support'],ascending=0)

          support                                itemsets
2213     0.015015                     (Quantity_12658512)
1251     0.010237                     (Quantity_12407154)
1468     0.008872                     (Quantity_12407730)
1109     0.007621                     (Quantity_12371378)
1027     0.006683                     (Quantity_12360426)
705      0.006597                     (Quantity_11659624)
1033     0.006541                     (Quantity_12360438)
1336     0.006512                     (Quantity_12407400)
1335     0.006427                     (Quantity_12407398)
1139     0.006256                     (Quantity_12406886)
575      0.006228                     (Quantity_11659236)
1026     0.006171                     (Quantity_12360424)
1328     0.006142                     (Quantity_12407382)
1148     0.005972                     (Quantity_12406904)
1472     0.005915                     (Quantity_12407742)
2766     0.005858                     (Quantity_13039848)
1108     0.005659                     (Quantity_12371376)
706      0.005403                     (Quantity_11659626)
1241     0.005375                     (Quantity_12407132)
2164     0.005346                     (Quantity_12658406)
2460     0.005261                     (Quantity_13038648)
1140     0.005147                     (Quantity_12406888)
2283     0.005090                     (Quantity_12696914)
667      0.005062                     (Quantity_11659538)
1210     0.005033                     (Quantity_12407042)
1149     0.004721                     (Quantity_12406906)
1483     0.004721                     (Quantity_12407770)
1824     0.004635                     (Quantity_12657532)
1331     0.004578                     (Quantity_12407388)
1332     0.004550                     (Quantity_12407390)
...           ...                                     ...
1416067  0.000028  (Quantity_11660236, Quantity_13653640)
1416066  0.000028  (Quantity_11660236, Quantity_13653626)
1416065  0.000028  (Quantity_13653612, Quantity_11660236)
1416064  0.000028  (Quantity_11660236, Quantity_13653576)
1416063  0.000028  (Quantity_13653570, Quantity_11660236)
1416062  0.000028  (Quantity_13653564, Quantity_11660236)
1416061  0.000028  (Quantity_13653550, Quantity_11660236)
1416087  0.000028  (Quantity_11714322, Quantity_11660242)
1416094  0.000028  (Quantity_11714456, Quantity_11660242)
1416108  0.000028  (Quantity_11660242, Quantity_11714544)
1416173  0.000028  (Quantity_12360432, Quantity_11660242)
1416240  0.000028  (Quantity_12371358, Quantity_11660242)
1416237  0.000028  (Quantity_12371352, Quantity_11660242)
1416225  0.000028  (Quantity_12371320, Quantity_11660242)
1416217  0.000028  (Quantity_12371304, Quantity_11660242)
1416198  0.000028  (Quantity_12371260, Quantity_11660242)
1416194  0.000028  (Quantity_11660242, Quantity_12371252)
1416184  0.000028  (Quantity_12360456, Quantity_11660242)
1416179  0.000028  (Quantity_12360446, Quantity_11660242)
135944   0.000028  (Quantity_11150146, Quantity_11714700)
1416113  0.000028  (Quantity_11660242, Quantity_11714580)
1416158  0.000028  (Quantity_12360402, Quantity_11660242)
1416128  0.000028  (Quantity_11714714, Quantity_11660242)
135945   0.000028  (Quantity_11150146, Quantity_12099206)
1416126  0.000028  (Quantity_11714696, Quantity_11660242)
1416120  0.000028  (Quantity_11714672, Quantity_11660242)
1416118  0.000028  (Quantity_11714608, Quantity_11660242)
1416116  0.000028  (Quantity_11714600, Quantity_11660242)
1416114  0.000028  (Quantity_11660242, Quantity_11714588)
2753488  0.000028  (Quantity_14128359, Quantity_14129477)

[2753489 rows x 2 columns]

In [69]:
rules = association_rules(freq_itemset, min_threshold=.1) # By default the metric is confidence

In [70]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Quantity_11139192),(Quantity_11139194),0.000512,0.000427,0.000171,0.333333,781.444444,0.000170,1.499360
1,(Quantity_11139194),(Quantity_11139192),0.000427,0.000512,0.000171,0.400000,781.444444,0.000170,1.665814
2,(Quantity_11139192),(Quantity_11139524),0.000512,0.001848,0.000114,0.222222,120.222222,0.000113,1.283338
3,(Quantity_11139560),(Quantity_11139192),0.000256,0.000512,0.000028,0.111111,217.067901,0.000028,1.124424
4,(Quantity_11139192),(Quantity_11139650),0.000512,0.000341,0.000085,0.166667,488.402778,0.000085,1.199591
5,(Quantity_11139650),(Quantity_11139192),0.000341,0.000512,0.000085,0.250000,488.402778,0.000085,1.332651
6,(Quantity_11139192),(Quantity_11141306),0.000512,0.001223,0.000085,0.166667,136.298450,0.000085,1.198533
7,(Quantity_11139192),(Quantity_11141320),0.000512,0.000455,0.000057,0.111111,244.201389,0.000057,1.124488
8,(Quantity_11141320),(Quantity_11139192),0.000455,0.000512,0.000057,0.125000,244.201389,0.000057,1.142272
9,(Quantity_11139192),(Quantity_11141324),0.000512,0.001337,0.000085,0.166667,124.698582,0.000085,1.198396
10,(Quantity_11139192),(Quantity_11141328),0.000512,0.000483,0.000085,0.166667,344.754902,0.000085,1.199420
11,(Quantity_11141328),(Quantity_11139192),0.000483,0.000512,0.000085,0.176471,344.754902,0.000085,1.213664
12,(Quantity_11139192),(Quantity_11141330),0.000512,0.000853,0.000085,0.166667,195.361111,0.000085,1.198976
13,(Quantity_11139192),(Quantity_11141338),0.000512,0.000427,0.000085,0.166667,390.722222,0.000085,1.199488
14,(Quantity_11141338),(Quantity_11139192),0.000427,0.000512,0.000085,0.200000,390.722222,0.000085,1.249360
15,(Quantity_11139192),(Quantity_11141346),0.000512,0.000796,0.000085,0.166667,209.315476,0.000085,1.199045
16,(Quantity_11141346),(Quantity_11139192),0.000796,0.000512,0.000085,0.107143,209.315476,0.000085,1.119427
17,(Quantity_11139192),(Quantity_11141530),0.000512,0.000796,0.000057,0.111111,139.543651,0.000056,1.124104
18,(Quantity_11139192),(Quantity_11141538),0.000512,0.000540,0.000114,0.222222,411.286550,0.000113,1.285020
19,(Quantity_11141538),(Quantity_11139192),0.000540,0.000512,0.000114,0.210526,411.286550,0.000113,1.266018
20,(Quantity_11139192),(Quantity_11141644),0.000512,0.000284,0.000085,0.166667,586.083333,0.000085,1.199659
21,(Quantity_11141644),(Quantity_11139192),0.000284,0.000512,0.000085,0.300000,586.083333,0.000085,1.427840
22,(Quantity_11144136),(Quantity_11139192),0.000028,0.000512,0.000028,1.000000,1953.611111,0.000028,inf
23,(Quantity_11144260),(Quantity_11139192),0.000199,0.000512,0.000028,0.142857,279.087302,0.000028,1.166069
24,(Quantity_11139192),(Quantity_11145600),0.000512,0.001450,0.000085,0.166667,114.918301,0.000085,1.198260
25,(Quantity_11139192),(Quantity_11145612),0.000512,0.000313,0.000114,0.222222,710.404040,0.000114,1.285312
26,(Quantity_11145612),(Quantity_11139192),0.000313,0.000512,0.000114,0.363636,710.404040,0.000114,1.570624
27,(Quantity_11139192),(Quantity_11145614),0.000512,0.000114,0.000057,0.111111,976.805556,0.000057,1.124872
28,(Quantity_11145614),(Quantity_11139192),0.000114,0.000512,0.000057,0.500000,976.805556,0.000057,1.998976
29,(Quantity_11145620),(Quantity_11139192),0.000028,0.000512,0.000028,1.000000,1953.611111,0.000028,inf
...,...,...,...,...,...,...,...,...,...
2409934,(Quantity_14122818),(Quantity_14122820),0.000142,0.000085,0.000028,0.200000,2344.333333,0.000028,1.249893
2409935,(Quantity_14122820),(Quantity_14122818),0.000085,0.000142,0.000028,0.333333,2344.333333,0.000028,1.499787
2409936,(Quantity_14122822),(Quantity_14122818),0.000142,0.000142,0.000028,0.200000,1406.600000,0.000028,1.249822
2409937,(Quantity_14122818),(Quantity_14122822),0.000142,0.000142,0.000028,0.200000,1406.600000,0.000028,1.249822
2409938,(Quantity_14122818),(Quantity_14122832),0.000142,0.001337,0.000028,0.200000,149.638298,0.000028,1.248329
2409939,(Quantity_14122818),(Quantity_14122834),0.000142,0.000483,0.000028,0.200000,413.705882,0.000028,1.249396
2409940,(Quantity_14128359),(Quantity_14122818),0.000085,0.000142,0.000028,0.333333,2344.333333,0.000028,1.499787
2409941,(Quantity_14122818),(Quantity_14128359),0.000142,0.000085,0.000028,0.200000,2344.333333,0.000028,1.249893
2409942,(Quantity_14129477),(Quantity_14122818),0.000028,0.000142,0.000028,1.000000,7033.000000,0.000028,inf
2409943,(Quantity_14122818),(Quantity_14129477),0.000142,0.000028,0.000028,0.200000,7033.000000,0.000028,1.249964
2409944,(Quantity_14122822),(Quantity_14122820),0.000142,0.000085,0.000028,0.200000,2344.333333,0.000028,1.249893
2409945,(Quantity_14122820),(Quantity_14122822),0.000085,0.000142,0.000028,0.333333,2344.333333,0.000028,1.499787
2409946,(Quantity_14122820),(Quantity_14122832),0.000085,0.001337,0.000028,0.333333,249.397163,0.000028,1.497995
2409947,(Quantity_14122820),(Quantity_14122834),0.000085,0.000483,0.000028,0.333333,689.509804,0.000028,1.499275
2409948,(Quantity_14128359),(Quantity_14122820),0.000085,0.000085,0.000028,0.333333,3907.222222,0.000028,1.499872
2409949,(Quantity_14122820),(Quantity_14128359),0.000085,0.000085,0.000028,0.333333,3907.222222,0.000028,1.499872
2409950,(Quantity_14129477),(Quantity_14122820),0.000028,0.000085,0.000028,1.000000,11721.666667,0.000028,inf
2409951,(Quantity_14122820),(Quantity_14129477),0.000085,0.000028,0.000028,0.333333,11721.666667,0.000028,1.499957
2409952,(Quantity_14122822),(Quantity_14122832),0.000142,0.001337,0.000028,0.200000,149.638298,0.000028,1.248329
2409953,(Quantity_14122822),(Quantity_14122834),0.000142,0.000483,0.000028,0.200000,413.705882,0.000028,1.249396
2409954,(Quantity_14128359),(Quantity_14122822),0.000085,0.000142,0.000028,0.333333,2344.333333,0.000028,1.499787
2409955,(Quantity_14122822),(Quantity_14128359),0.000142,0.000085,0.000028,0.200000,2344.333333,0.000028,1.249893
2409956,(Quantity_14122822),(Quantity_14129477),0.000142,0.000028,0.000028,0.200000,7033.000000,0.000028,1.249964
2409957,(Quantity_14129477),(Quantity_14122822),0.000028,0.000142,0.000028,1.000000,7033.000000,0.000028,inf
2409958,(Quantity_14128359),(Quantity_14122832),0.000085,0.001337,0.000028,0.333333,249.397163,0.000028,1.497995
2409959,(Quantity_14129477),(Quantity_14122832),0.000028,0.001337,0.000028,1.000000,748.191489,0.000028,inf
2409960,(Quantity_14128359),(Quantity_14122834),0.000085,0.000483,0.000028,0.333333,689.509804,0.000028,1.499275
2409961,(Quantity_14129477),(Quantity_14122834),0.000028,0.000483,0.000028,1.000000,2068.529412,0.000028,inf
2409962,(Quantity_14128359),(Quantity_14129477),0.000085,0.000028,0.000028,0.333333,11721.666667,0.000028,1.499957
2409963,(Quantity_14129477),(Quantity_14128359),0.000028,0.000085,0.000028,1.000000,11721.666667,0.000028,inf

In [72]:
rules=rules.sort_values(by=['antecedents','support','consequent support'],ascending=[0,0,0])

In [73]:
rules['flag'] = (rules.antecedents != rules.antecedents.shift()).astype(int)

In [74]:
rules1=rules.loc[rules['flag']==1,:]

In [75]:
rules1.shape

(2905, 10)

In [76]:
rules1.to_csv('rules1.csv')